#label_hm {color: red}

QTextEdit {background-color: azure}

QLineEdit {background-color: black;
color: white}

QPlainTextEdit {color: orange}

QPushButton {color: blue}
QPushButton:hover {color: cyan}